/* c_04_font.css */
/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap'); */
@import url("../../font/kalam/kalam-font.css");
@import url("../../font/RixYeoljeongdo.css");


.code_exam .ex_wrap {background-color: transparent;}
.ex_wrap { padding: 20px 0; margin-bottom: 10px;}


.ex_wrap li:nth-child(1){
  /* font-weight:thin ||ligther || normal || bold || bolder || black ; */
  /* font-weight: 100~900; */
  /* font-weight: 400; */
  font-weight: 600;
}

.ex_wrap li:nth-child(2) {
  font-style: normal;
  font-style: italic;
}
/* em, i, address <- 기본적으로 기울기 적용*/

/* :root {font-size: 25px;} */

.ex_wrap {font-size: 20px;}
.ex_wrap li:nth-child(3) {
  /* font-size: 20px; */
  /* font-size: 20pt; */
  /* 16px = 12pt 포인트는 주로 인쇄에서 쓰는 단위 */
  font-size: 120%; /* 퍼센트는 부모의 값을 기준으로 */
}

.ex_wrap li:nth-child(4) {
  height: 70px;
  padding: 0;
  background-color: #fdd;

  line-height: 70px;
}

.ex_wrap li:nth-child(5) {
  height: 70px;
  padding: 0; padding-top: 15px; margin-bottom: 100px;
  background-color: #dfd;

  line-height: 1.2;
  /*한줄일 때 보통 사용 | 한줄이 아닐 때는 난감해지는 상황*/
}

.ex_wrap li:nth-child(6) {
  position: relative;
  height: 200px; background-color: #ddd;
}

.ex_wrap li:nth-child(6) > span {
  display: block; position: absolute;
  height: 5; top: 50%;
  }

.ex_wrap li:nth-child(6) u{
  display: block;
  transform: translateY(-50%);
  font-size: 20px; line-height: 150%;
  background-color: #adf;
}

.ex_wrap li:nth-child(7) {
  font-family: din, 'myriad pro', arial, '돋움', 'dotum'; 
  /*앞에 서체가 없으면 뒤에가 적용하라는 거|주의할건 한글서체에 영문적용되는 폰트는 뒤에 써주기 */
}

.ex_wrap li:nth-child(8) {
  font-family: 'kalam', 'Rix_yj';
  color: #8B35B4;
}

.ex_wrap li:nth-child(9) {letter-spacing: 10px;}
.ex_wrap li:nth-child(10) {word-spacing: 20px;}
.ex_wrap li:nth-child(11) > a {word-spacing: -6px; text-transform: uppercase;} /*lowcase 소문자로바꾸기 | capitalize 단어기준 첫글자를 대문자로  */
.ex_wrap li:nth-child(12) {
  width: 600px; height: 50px; background-color: #aaefef;
  text-align: center;  
}
.ex_wrap li:nth-child(13) {
  width: 700px; height: auto; background-color: #acf;
  text-align: justify; /*양쪽정렬*/ 
  word-break: keep-all; /* keep-all : 단어위주로 줄바꿈, break-all : 글자가 끝나면 자연스럽게 밑으로 */
}