/* e_01_form_basic.css */

form {
  
  width: 40%; height: auto; min-height: 200px; background-color: #fff;
}

/* html 문서내에 필드셋 div로 감싸고 
fieldset  {border: none;}
form > div {
  border: 1px solid #777;
} */

button {
  padding: 0.3rem 2rem;
  border: 1px solid #aaa;
  background-color: #adf;
}

.select_list ol,
.select_list ul {
  float: left;
}