@carset "UTF-8";
/* a_11_margin.css */

/* ctrl + alt -> = 창 분할하기*/

#wrap {
  width: 900px; height: 3000px;
  margin: auto;
  background-color: #ddd;
}

.part { 
  width: 95%; height: auto;
  margin: auto;
  border:1px solid #333; 
  /*마진 첫번째와 마지막 위아래서 띄워주는코드 */
  background-color: #fff;
}

.part > div {
  width: 200px; height: 200px;

}

.margin_01 {
  margin: 50px;
  background-color: #fac;}
.margin_02 {
  margin: 20px;
  background-color: #acf;}
.margin_03 {
  margin: 50px;
  background-color: #afc;}

/* --------------------------------------------- */
.part_02 {height:2000px;}
.part_02 > div {
  float: left; /*옆으로 나란히 */
  background-image: linear-gradient(30deg,#afc, #fca); /*그라데이션은 백그라운드 칼라 말고 이미지, deg 방향 */ 
}

.more_margin_01 {margin: 10px;}
.more_margin_02 {margin: 30px;}
.more_margin_03 {margin:40px 20px;}
.more_margin_04 {margin: 10px 20px 30px;}
.more_margin_05 {margin: 5px 20px 10px 40px;}
.more_margin_06 {margin: 10px; margin-left: 40px;}
.more_margin_07 {margin-top: 40px;  margin-left: 20px;
margin-right: 10px; margin-bottom:300px;}
.more_margin_08 {margin-top: 10px; margin-top: 30px}
/* 공간을 어떻게 쓰는지 확인해 보기
    4개쓰면 시계방향   */