@charset "UTF-8";
/* main.css */
/* reset.cs    s===========초기 셋팅============================================ */
body {margin: 0;}
h1,h2,h3,h4,h5,h6 {margin: 0;}
ul,ol,dl,li,dt,dd {margin: 0; padding: 0;}
ul,ol,li {list-style: none;}

/* common.css ========공동된 기능===================================================== */
.max_width_01 {
  width: 95%; min-width: 940px; max-width: 1280px;
  margin: auto; }





/* design =======디자인=============================================== */
#wrap {
  width: 100%; min-width: 960px; /*min-width: 1440px;*/
  height: auto; min-height: 500px;
  margin: auto;
 
}

/* #headBox_________________________________________________________ */
#headBox    {
  width: 100%; height: auto;
  padding: 20px 50px 10px; box-sizing: border-box;
  background-color: #ccc;}

.area_head {
    width: 100%; /*max-width: 1440px; */
    height: auto;
    margin: auto;
  }

#headBox::after {
    content: ""; display: block;
    width: 100%; height: 0; clear: both;
  }
  
#logo {
  float :left; width: 120px; height: 70px;
  background-color: #777;}
  
#navBox{
  float: right; width: 510px; height: 70px;
  background-color: #777;}
  
/* #slideBox____________________________________________________________*/
#slideBox   { width: 100%; height: 600px;
              padding-top: 100px; box-sizing: border-box;
              background-color: #aaa; }
#adCon_01 {
  width: 780px; height: 400px;
  margin: auto; 
  background-color: #ddd;}

/* #newBox ______________________________________________________________ */
#newBox     {
  width: 100%; height: 700px;
  padding-top: 62px; box-sizing: border-box;
  background-color: #eee;}
.area_title{
  width: 940px; height: 70px;
  margin: auto;
  background-color: #ccc;
}
.area_content{
  width: 940px; height: 370px;
  /* margin: auto; margin-top: 48px; margin-bottom: 50px; */
  margin: 48px auto 50px;
  background-color: #ccc;
}
.area_indicator{
  width: 140px; height: 30px;
  margin: auto;
  background-color: #ccc;
}



/* #subBox_______________________________________________________________ */
#subBox     {
  width: 100%; height: 350px;
  padding-top: 50px; box-sizing: border-box;
  background-color: #aaa;}
#subBox > .area{
  height: 300px;
  margin: auto;
  background-color: #ddd;
}

/* #bestBox_______________________________________________________________ */
#bestBox    {
  width: 100%; height: 700px;
  padding-top: 175px; box-sizing: border-box;
  background-color: #eee;}
#bestBox > .area {
    height: 380px;
    
    background-color: #aaa;
  }

/* #galleryBox_______________________________________________________________ */
#galleryBox {
  width: 100%; height: 750px;
  padding-top: 75px; box-sizing: border-box;
  background-color: #ccc;}
#galleryBox .area_title { background-color: #fff;}
#galleryBox .area_content {height: 420px; background-color: #777;}


/* #sponsorBox_______________________________________________________________ */
#sponsorBox {
  width: 100%; height: 100px;
  padding: 10px 0; box-sizing: border-box;
  background-color: #999;}
.sponsor_area{
  height: 80px;
  background-color: #fff;
}

/* #footBox_______________________________________________________________ */
#footBox {
  width: 100%; height: 450px;
  padding-top: 68px; box-sizing: border-box;
  background-color: #777;}

.area_foot {
  height: auto;
 }  
 
  .info_logo {
    width: 120px; height: 70px;
    margin-bottom: 45px;
    background-color: #aaa;
    }
  .info_conpany {
    width: 100%; height: 135px;
    background-color: #aaa;
    }


    /* --------------------------------------------------------------- */
    /* 다음, 카카오 개발자 CSS 규칙 */
    .selector {
      content: "";
      /* before after 이용하는 콘텐트 먼저 */
      display: block;
      /* 눈에보이는 어떤 형태를 가질 수 있게 조건을 만들어 주는거 */
      position: static;
      float: left;
      /* 위치 */
      width: 100%; min-width: 100%; max-width: 100%;
      height: 20px; min-height: 100%; max-height: 100%;
      /* 사이즈 */
      margin: 0; padding: 0; border: 0; box-sizing: 1px solid #000;
      /* 공간 */
      font-size: 10px; font-weight: 400; color: #fff;
      /* 폰트 */
      background-color: #fff;
      /* 컬러 또는 이미지 */
      effect:;
      /* 마지막에 다양한 효과 */
      box-shadow: 1px 2px 2px #333;
      }