/* #headBox __________________________________________ */
#headBox { 
  position: fixed; top: 0; left:0; /* right:0; margin:auto; */
  z-index:1500;
  width: 100%; /* max-width:1440px;*/
  height: auto; 
  padding:20px 50px 10px; box-sizing: border-box;
  background-color: #fff; }
  
  .area_head {
    width: 100%; max-width:1440px;
    height: auto;
    margin:auto;
  }
  .area_head::after {
    content:" "; display:block; 
    width:100%; height:0; clear:both;
  } 
   
#logo { 
  float:left; width: 120px;height: 70px; }
  #logo> a {
    /* display:block; width: 100%; height: 100%;  */
    background-image: url("../../img/headBox/logo.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  
#navBox { 
  width: auto; height:auto; /* height: 70px; */
  /* background-color: #777; */
  margin-top: 18px;
  }
  .gnb {
    float:left; width:auto; min-width: 510px; height:34px;
    /* background-color: #ffa; */
  }

  .unb {
    float:right; width: auto; height:auto; 
    /* background-color: #fdf; */
  }  
 

  .unb ul, 
  .gnb ul { width: 100%; height: auto; box-sizing: border-box;}

  .unb ul { padding:3px 5px; }
  .unb li {
    float: left;
    width:auto; height:auto;
    margin-left:20px;
    margin-top: 18px;
    /* background-color: #0cc; */
  }
 
  .unb a { 
    display: block;
    width: 100%; height: 100%; 
    word-spacing:-3px; text-transform:capitalize;
    color:#505050; font-size:0.75rem; text-align: center;
    }
  
  .gnb ul {width:auto; padding:4px 5px;}
  .gnb li {
    float:left; width:auto; height:25px;
    margin-top:18px;

    padding:0 6px; border-right:1px solid #aaa;
    text-align: center;
  }
  /* .gnb li:last-child {border:0; padding-right: 0;} */
  .gnb li:first-child {padding-left: 0;}

  .unb li:last-child {border:0; padding-: 0;}
  .unb li:first-child {padding-left: 0;}
  
  .gnb li a {
    padding:5px 10px;
    line-height: 25px;
    font-size:1.5rem; color:#171717;
    font-weight: 700;
    text-transform:capitalize;
  }
  
  .unb li a {
    padding:5px 10px;
    line-height: 25px;
    font-size:1.5rem; color:#171717;
    font-weight: 700;
    text-transform:capitalize;
  }

  /* .unb li:first-child{margin-left:0;} */
  /* .gnb li:first-child{margin-left:0;} */
  
  .first_margin li:first-child { margin-left:0;}

  /* accor2______________________________________________ */
  
    .nav_title button{      
        float: left;
        box-sizing: border-box;
        margin: 0 10px ; text-align: center;      
        font-size:1.5rem; color:#171717;
        font-weight: 700;
        text-transform:capitalize;
        
      }
  
  .sub_list {
    display: none;
    float: left;
    padding:5px 10px;
    line-height: 25px;
    font-size:1.5rem; color:#171717;
    font-weight: 700;
    text-transform:capitalize;
    background-color: #fff;
  }
  .sub_list a {
    display: block;
    border-radius:0.1rem;
    margin-top: 15px;
  }